<div class="mt-5 text-center" >
  <h2>Reciparrot</h2>
  <h6 class="text-muted ">Share DELICIOUS recipes with the recipe parrot</h6>

  <a class="btn btn-primary mt-2" href="https://twitter.com/intent/follow?screen_name=reciparrot" role="button">
    Follow Reciparrot on Twitter
  </a>
</div>
