<div class="mt-5 text-center" >
  <h2>Reciparrot</h2>
  <h6 class="text-muted ">Share DELICIOUS recipes with the recipe parrot</h6>

  <% if logged_in? %>
    <%= button_to "Start Sharing", shares_path, method: :get, class: "btn btn-primary mt-2" %>
  <% else %>
    <%= button_to "Start Sharing", "/auth/google_oauth2", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
