<%= image_tag("sadparrot.gif", alt: "sad-parrot") %>

<p class="font-weight-bold mt-2">
You don't have any recipes yet.
</p>

<%= link_to "Add Recipe", new_recipe_path, class: "btn btn-primary mt-2" %>

<div class="align-text-bottom mt-5">
  <p class="font-weight-">
  Sad parot credit
  <a href="https://github.com/jmhobbs/cultofthepartyparrot.com/pull/10">
    Glen Takahashi
  </a>
  </p>
</div>
