<table align="center">
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Recipe", new_recipe_path, class: "btn btn-primary mt-2" %>
