<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Copyright &copy; <%= Date.today.year %>
      <%= link_to "Reciparrot", "https://twitter.com/intent/follow?screen_name=reciparrot" %>
    </span>
  </div>
</footer>
